<table>
    <thead>
        <tr>
            <th>_id</th>
            <th>dexId</th>
            <th>name</th>
            <th>type1</th>
            <th>generation</th>
            <th>__v</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="tbody-hook">

    </tbody>
    <tbody>
        <tr>
            <td>+ Add New</td>
            <td><div><input type="text" name="dexid" placeholder="dexId" id="dexId" required></div></td>
            <td><div><input type="text" name="name" placeholder="name" id="name" required></div></td>
            <td><div><input type="text" name="type1" placeholder="type1" id="type1" required></div></td>
            <td><div><input type="text" name="generation" placeholder="generation" id="generation" required></div></td>
            <td></td>
            <td><button class="uk-button uk-button-primary" id="addButton" type="button">Add</button></td>
        </tr>
    </tbody>
</table>
