@import 'color';
@import 'font';
@import 'base';

@import 'components/button';
@import 'components/input';

@import 'components/gallery';

@import '../../src/modules/main/views/layout/layout';
@import '../../src/modules/main/views/header/header';
@import '../../src/modules/main/views/pokemon/pokemon';
@import '../../src/modules/main/views/pokemoncollection/pokemoncollection';
