body {
	margin: 0;
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;    
     color: $grey;
     background-color: $lightgrey;
}

ul {
     padding: 0px;
     margin: 0px;
}

li {
     list-style-type: none;
}

a {
     text-decoration: none;
     color: $grey;
}

h1 {
     margin: 0px;
     font-size: 55px;
     font-weight: 300;
}

p {
     line-height: 1.3em;
}

table td, table th {
     padding:10px;
}