.btn {
	border: 1px solid black;
	padding: 10px;
	background: transparent;
	font-size: 13px;
}

.btn:hover {
	cursor: pointer;
	background-color: black;
	color: white;
}

.btn__more {
	text-transform: uppercase;
	border-color: $green;
	color: $green;
}

.btn__more:hover {
	background-color: $green;
}