.gallery__list {
	width: 100%;
    display: flex;
    flex-flow: row wrap;
	font-size: 0;
}

.gallery__item {
	flex: auto;
	width: 33.3%;
}

.gallery__item {
	background-color: $grey;
}

.gallery__item:hover img {
	opacity: 0.3;
}